h1{
    color:#5882FA ;
}
body{
    background-color: #D5D2C3 ;
}
table{
    border: 1px solid;
    border-collapse: collapse;
    
    text-align: center;
}
hr{ border: 1px solid;
    
}
td{
    border: 1px solid;
}

    