@charset "UTF-8";

/* todas as outras versões
celular : 320px-480px
tablets : 481-768px
laptops: 769-1024px
desktops: 1025-1200px
tv:1200px +
*/


@media print { /* Impressão */
    body {
        background-image: url(../imagens/back-print.jpg)
    }
    main {
        border: 2px solid black;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#print {display: block;}
    img#tv {display: none;}

}

@media screen and (min-width:768px) and (max-width:992px){ /*TABLETS*/

    body {
        background-image: url(../imagens/back-tablet.jpg);
     
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tv {display: none;}
}
    

@media screen and (min-width:992px) and (max-width:1024px){ /* LAPTOPS */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    main {
        width: 500px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
   
}

@media screen and (min-width:1024px) and (max-width:1200px){ /* DESKTOPS */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    main {
        width: 600px;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: block;}
    img#print {display: none;}
    img#tv {display: none;}
}

@media screen and (min-width:1200px) { /*TVS*/
        body {
            background-image:url(../imagens/back-tv.jpg)
        }
        main {
            width: 700px;
        }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#pc {display: none;}
    img#print {display: none;}
    img#tv {display: block;}
    
}