@charset "UTF-8";
body {
background-color: rgba(2, 148, 2, 0.226);
font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgba(1, 77, 1, 0.993);
}
h1#principal{
    text-align: center;
    background-color: rgba(1, 77, 1, 0.993);
    color: white;
}
h2{
    color: rgb(34, 172, 34);
}
.basico {
    color: rgb(42, 145, 42);
}
.intermediario {
    color: rgba(153, 153, 6, 0.829);
}
.avancado {
    color: rgb(163, 33, 33);
}   
.destaque {
    background-color: yellow;
}